*{
    margin: 0;
    padding: 0;
}

.webgl{
    position: fixed;
    top: 0;
    left: 0;

    outline: none;
}

html{
    background-color: black;
}
html,body{
    /* overflow: hidden; */
}


section{
    display: flex;
    align-items: center;
    /* height: 10vh; */
    height: 100vh;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    color:wheat;
    text-transform: uppercase;
    /* font-size: 3vmin; */
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;

}

section:nth-child(odd){
    justify-content: flex-end;
}